{% extends 'base.html.twig' %}
{% block title %}Create a new record | {{ parent() }} {% endblock %}

{% block tracks %}
  <div class="container text-left">
    <h1>{{ title }}</h1>
    <div>
      <p>Our sweet track list: TODO</p>
    </div>
  </div>
  
  <div class="container tracks-container">
    <div class="col-12">
      <div class="row">
        <img src="{{ asset('images/joyce-g-ITVCF_F1_00-unsplash.jpg') }}">
        <ul class="track-list">
          {% for track in tracks %}
            <li>
              <i class="fa-solid fa-circle-play"></i>
              <strong>{{ track.artist|upper }}</strong>
              <i class="fa-solid fa-record-vinyl"></i>
              <ul>
                <li>
                  {{ track.song }}
                  <i class="fa-solid fa-music"></i>
                </li>
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

